@use "../../styles/abstract/" as *;

@include mobile {
	.hero {
		--social-gap: 40px;
		--text-mw: 200px;

		display: flex;
		flex-direction: column;
		padding: 40px var(--padding-corner);

		.user #name {
			font: var(--heading-300);
			color: var(--text-color-primary);
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 30vh;

			.description {
				display: flex;
				flex-direction: column;
				width: fit-content;

				p {
					display: inline-block;
					width: fit-content;
					max-width: var(--text-mw);
					font: var(--heading-300);
					color: var(--text-color-primary);
				}
			}
			.social {
				display: grid;
				grid-auto-flow: row;
				grid-template-columns: auto auto 1fr;
				column-gap: var(--social-gap);
				row-gap: 1rem;

				width: fit-content;

				a {
					width: fit-content;
					font: var(--paragraph-300);
					color: var(--text-color-secondary);

					transition: color 0.2s;
					&:hover {
						color: var(--text-color-primary);
					}
				}
			}
		}
	}
}

@include tablet {
	.hero {
		--text-mw: 240px;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1200px;
	}
}

@include desktopSmall {
	.hero {
		--text-mw: 300px;

		--social-gap: 56px;
	}
}
