@use "../../styles/abstract/" as *;

@include mobile {
	.app_footer {
		padding: 80px var(--padding-corner) 0 var(--padding-corner);

		h2 {
			font: var(--heading-small-300);
			color: var(--text-color-secondary);
		}

		.contact {
			padding-top: 40px;
			@include flex-center-sb;

			p,
			a {
				font: var(--heading-large-300);
				color: var(--text-color-primary);
			}
		}

		.back_to_top {
			padding: 40px 0;
			width: fit-content;
			margin-left: auto;

			button a {
				font: var(--heading-small-300);
				color: var(--text-color-secondary);
			}
		}
	}
}
